.uk-card {
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 5px;
    font-size: large;
    /* background-color: rgb(234, 238, 202); */
    /* color: white; */
}

.uk-button {
    border-radius: 10px;
    margin: 5px;
}

.uk-button:hover {
    background-color: white !important;
    color: black !important;
}

.uk-input {
    border-radius: 10px;
}

.search-forecast {
    background-color: #3f3d3b;
    color: white;
    font-size: x-large;
}

.city:hover {
    background-color: white !important;
    color: black !important;
}

.current-weather-icon {
    background-color: rgb(224, 206, 183);
}

.forecast-weather-icon {
    background-color: rgb(224, 206, 183);
}

.pcards {
    background-color: #3f3d3b;
    color: white;
    font-size: 2vw;
}

#weather-header {
    text-align: center;
}

.fa-city {
    margin-right: 25px;
}

.current-title {
    font-size: large;
    font-weight: 500;
}

.forecast-title-dt {
    font-size: large;
    font-weight: 500;
}

.prev-cities {
    font-size: large;
}