.uk-card {
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 5px;
    font-size: large;
}

.uk-button {
    border-radius: 10px;
    margin: 5px;
}

.uk-button:hover {
    background-color: white !important;
    color: black !important;
}

.uk-input {
    border-radius: 10px;
}

.search-forecast {
    background-color: #3f3d3b;
    color: white;
    font-size: x-large;
}

.city:hover {
    background-color: white !important;
    color: black !important;
}

.current-weather-icon {
    background-color: rgb(224, 206, 183);
}

.forecast-weather-icon {
    background-color: rgb(224, 206, 183);
}

.pcards {
    background-color: #3f3d3b;
    color: white;
    font-size: 8vw;
}

#weather-header {
    text-align: center;
}

.fa-city {
    margin-right: 0.5px;
}

.current-title {
    font-size: large;
    font-weight: 500;
}

.forecast-title-dt {
    font-size: large;
    font-weight: 500;
}

.prev-cities {
    font-size: 1.1rem;
}

.uvi-very-high {
    background-color: rgb(158, 85, 165);
    border: 2px solid rgb(158, 85, 165);
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.uvi-high {
    background-color: rgb(194, 67, 67);
    border: 2px solid rgb(194, 67, 67);
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.uvi-medium {
    background-color: rgb(241, 217, 81);
    border: 2px solid rgb(241, 217, 81);
    border-radius: 10px;
    padding: 5px;
    color: black;
}

.uvi-low {
    background-color: rgb(115, 206, 122);
    border: 2px solid rgb(115, 206, 122);
    border-radius: 10px;
    padding: 5px;
    color: black;
}